form(class='form' action="/pictures/upload" method="POST" enctype="multipart/form-data")

  div(class='form-group')
    input(type="file" name='image' class="filestyle" data-placeholder="No file" data-size="sm" data-buttonText="" data-buttonBefore="true")
  button(class="btn btn-sm btn-default" type="submit") Upload Image

  

  script(src='/javascripts/bootstrap-filestyle.js')