doctype
<!--[if IE 8]><html class="lt-ie9 no-js"><!--<![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
head
  //- TODO: Check if it's the good charset
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title My Application 
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
  <!-- Latest compiled and minified CSS -->
  block css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  <!--[if lt IE 9]>
  script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.0/html5shiv.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")
  <![endif]-->
body
  //- Add your site or application content here
  script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src="//cdnjs.cloudflare.com/ajax/libs/holder/2.3.0/holder.js")

  block main

  block footer